extends layout 

block content
    header.w3-container.w3-blue
        h1 Detalhes do Contrato

    ul
        li 
            b Id: 
            span= contrato.idcontrato
        li 
            b Número de Anúncio: 
            span= contrato.nAnuncio
        li 
            b Tipo de procedimento: 
            span= contrato.tipoprocedimento
        li 
            b Objeto Contrato: 
            span= contrato.objectoContrato
        li 
            b Data de publicação: 
            span= contrato.dataPublicacao
        li 
            b Data de celebração do contrato: 
            span= contrato.dataCelebracaoContrato
        li 
            b Preço contratual: 
            span= contrato.precoContratual
        li 
            b Prazo de execução: 
            span= contrato.prazoExecucao
        li 
            b NIPC da entidade comunicante: 
            span= contrato.NIPC_entidade_comunicante
        li 
            b Entidade comunicante: 
            span= contrato.entidade_comunicante
        li 
            b Fundamentação: 
            span= contrato.fundamentacao

    footer.w3-container.w3-blue
        h5 [
            a(href='/') Voltar à página principal ]
        span