extends layout 

block content
    header.w3-container.w3-blue
        h1 Lista de Registos

    .w3-container
        table.w3-table-all
            tr
                th Id contrato
                th Objecto Contrato
                th Data Celebracao Contrato
                th Preco Contratual
                th NIPC entidade comunicante
                th Entidade Comunicante

                    
            each contrato in contratos
                tr
                    td
                        a.w3-text-blue(href=`/${contrato.idcontrato}`)= contrato.idcontrato
                    td= contrato.objectoContrato
                    td= contrato.dataCelebracaoContrato
                    td= contrato.precoContratual
                    td
                        a.w3-text-blue(href=`/entidades/${contrato.NIPC_entidade_comunicante}`)= contrato.NIPC_entidade_comunicante
                    td= contrato.entidade_comunicante

    footer.w3-container.w3-blue
        h5 Teste de Engenharia Web feito por Hugo Ramos em #{d}



